<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688952181159-kka6bqbr0o5bqqakv54c91voas2emkfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688952181159-kka6bqbr0o5bqqakv54c91voas2emkfq</string>
	<key>API_KEY</key>
	<string>AIzaSyCmHxgc-3Gj7WztPQtZ9jDl1iyxmFoM3u8</string>
	<key>GCM_SENDER_ID</key>
	<string>688952181159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.moveme.driver</string>
	<key>PROJECT_ID</key>
	<string>moveme-1554316037072</string>
	<key>STORAGE_BUCKET</key>
	<string>moveme-1554316037072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688952181159:ios:9f8923443e03675e</string>
	<key>DATABASE_URL</key>
	<string>https://moveme-1554316037072.firebaseio.com</string>
</dict>
</plist>